<li>
	<div class="row">
		<div class="col-sm-11">
			<div class="input-group">
    			<select ng-options="item as item.label for item in items track by item.abId" ng-model="obj" class="form-control input-md"></select>   				
    			<input class="form-control" ng-model="obj.value">   				
    		</div>
       	</div>
       	<div class="col-sm-1">
    		<button type="button" class="btn btn-md" aria-label="Left Align" ng-click="add({skill:obj})" data-dismiss="alert">
        		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    		</button>
       	</div>
	</div>	
</li>