<form name="myForm" class="form-horizontal">
	<fieldset>				
		<div class="row">	
			<div class="col-sm-12 col-md-4 col-md-offset-4">

				<div class="form-group">
					<label for="nome" class="col-lg-3 control-label">Nome</label>
					<div class="col-lg-9">
						<input type="text" id="nome" class="form-control" ng-model="currPg.identita.nome" ng-minlength="3" required>
					</div>
				</div>

				<div class="form-group">
					<label for="concetto" class="col-lg-3 control-label">Concetto</label>
					<div class="col-lg-9">
						<input type="text" id="concetto" class="form-control" ng-model="currPg.identita.concetto" ng-minlength="3" required>
					</div>
				</div>

				<div class="form-group">
					<label for="giocatore" class="col-lg-3 control-label">Giocatore</label>
					<div class="col-lg-9">
						<input type="text" id="giocatore" class="form-control" ng-model="currPg.identita.giocatore" ng-minlength="3">
					</div>
				</div>

			</div>
		</div>

		<p class="text-center rotatedFloralHeartBullet"></p>
		<H3 class="text-center text-uppercase">Attributi</H3>


		<div class="row-fluid attributes">
			<div class="col-sm-4 col-md-4 mental">	

				<div class="form-group" ng-repeat="item in currPg.attributi | filter: { type: 'men' }">
					<label for="item.abId" class="col-lg-3 control-label">{{item.label}}</label>
					<div class="col-lg-9">
						<input type="text" id="item.abId" class="form-control" ng-model="item.value" required>
					</div>
				</div> 				

			</div>
			<div class="col-sm-4 col-md-4 phisical">

				<div class="form-group" ng-repeat="item in currPg.attributi | filter: { type: 'fis' }">
					<label for="item.abId" class="col-lg-3 control-label">{{item.label}}</label>
					<div class="col-lg-9">
						<input type="text" id="item.abId" class="form-control" ng-model="item.value" required>
					</div>
				</div> 

			</div>
			<div class="col-sm-4 col-md-4 social">

				<div class="form-group" ng-repeat="item in currPg.attributi | filter: { type: 'soc' }">
					<label for="item.abId" class="col-lg-3 control-label">{{item.label}}</label>
					<div class="col-lg-9">
						<input type="text" id="item.abId" class="form-control" ng-model="item.value" required>
					</div>
				</div> 

			</div>
		</div>  
		
		<p class="text-center rotatedFloralHeartBullet"></p>

		<div class="row-fluid">
			
			<div class="col-sm-4">
				<H4 class="text-center">Abilità Mentali</H4>
				<ul ng-repeat="item in currPg.elencoabilita | filter: { type: 'men' }">
					<skill></skill>
				</ul>
				<attribute items="abMentali" pg="currPg"></attribute>
			</div>

			<div class="col-sm-4">
				<H4 class="text-center">Abilità Fisiche</H4>
				<ul ng-repeat="item in currPg.elencoabilita | filter: { type: 'fis' }">
					<skill></skill>
				</ul>	        
				<attribute items="abFisiche" pg="currPg"></attribute>
			</div>
			<div class="col-sm-4">
				<H4 class="text-center">Abilità Sociali</H4>
				<ul ng-repeat="item in currPg.elencoabilita | filter: { type: 'soc' }">
					<skill></skill>
				</ul>
				<attribute items="abSociali" pg="currPg"></attribute>
			</div>

		</div>
		
		<p class="text-center rotatedFloralHeartBullet"></p>

		<div class="row-fluid">		
			<div class="col-sm-12 col-md-4 col-md-offset-4">

				<H4 class="text-center text-uppercase">Pregi</H4>
				<ul>
					<li ng-repeat='item in currPg.talents'>					
						{{item.label}} {{item.value}}
						<button type="button" class="btn btn-sm pull-right" aria-label="Left Align" ng-click="removeTalent(item)" data-dismiss="alert">
							<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
						</button> 
					</li>
				</ul>

				<div class="row">
					<div class="col-md-8">          
						<div class="form-group">
							<input class="form-control input-md" ng-model='cTalent.label'>
						</div>    
					</div>    

					<div class="col-md-2">
						<div class="form-group">
							<input class="form-control input-md" ng-model='cTalent.value'>  
						</div>
					</div>

					<div class="col-md-2">
						<button type="button" class="btn btn-md" ng-click="addTalent()" data-dismiss="alert">
							<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
						</button>
					</div>
				</div>

			</div>
		</div>

	</fieldset>
</form>
<div class="row-fluid">	
	<div class="col-sm-12 col-md-4 col-md-offset-4">	
		<div class="btn-group" role="group">
			<button type="button" class="btn btn-default" ng-click="addPg()" ng-show="myForm.$valid && isNew">Add Pg</button>   
			<button type="button" class="btn btn-default" ng-click="updatePg()" ng-show="myForm.$valid && !isNew">Save</button>    				
		</div>
	</div>
</div>